<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">NLMS</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>NLMS</b>Details</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="/dashboard" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <a href="/dashboard"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li>
          <a href="/dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/nlms/add-new">
            <i class="fa fa-plus"></i> <span>Add Now</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/sellers">
            <i class="fa fa-tasks"></i> <span>Sellers</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/mandals">
            <i class="fa fa-list"></i> <span>Mandals</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/list/all">
            <i class="fa fa-users"></i> <span>List</span>
          </a>
        </li>
        <li>
          <a href="/dashboard/reports">
            <i class="fa fa-line-chart"></i> <span>Reports</span>
          </a>
        </li>
        <li>
          <a href="/users/logout">
            <i class="fa fa-sign-out"></i><span>Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
