<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head id="Head1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    N.L.M.S.
  </title>
  <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <link href="/css/style1.css" rel="Stylesheet" type="text/css">
  <link href="/css/layout.css" rel="stylesheet" type="text/css">
  <style type="text/css">

  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  .success {background-color: #4CAF50;} /* Green */
  .success:hover {background-color: #000; color:White;}

  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;color:White;}

  .warning {background-color: #ff9800;} /* Orange */
  .warning:hover {background: #e68a00;color:White;}

  .danger {background-color: #f44336;} /* Red */
  .danger:hover {background: #da190b;color:White;}

  .default {background-color: #e7e7e7; color: black;} /* Gray */
  .default:hover {background: #ddd;color:White;}

  </style>
</head>
<body>

  <div align="center">
    <table border="0" width="1190px" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
      <tbody><tr>
        <td>
          <img alt="" src="/images/2.png">
        </td>
      </tr>
      <tr>
        <td bgcolor="#008000">
          <nav id="topnav">
            <ul class="clear">
              <li style="float: right; padding-right: 2%;"><a href="/login">Dashboard Login</a></li>
            </ul>
          </nav>

        </td>
      </tr>
      <tr>
        <td style="vertical-align: top; padding-top: 0px;" align="left">
          <br>
        </td>
      </tr>

      <tr>

      </tr>
      <tr>
        <td bgcolor="White" align="center">

        </td>
      </tr>
      <tr>
        <td align="center" style="vertical-align: top; padding-top: 0px;">
          <table width="80%">
            <tbody><tr>
              <td align="center" colspan="2">
                <marquee><strong> </strong></marquee>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td style="font-family: Verdana; font-size: medium;">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <br>
          <p style="text-align: justify; margin-left: 35px; margin-right: 35px;">
            <strong>NLMS</strong> is Nilagiri Live Stock Management System
          </p>
          <br>

          <p style="text-align: justify; margin-left: 35px; margin-right: 35px;">
            Let us join hands together and move to Online system to realize the dream of Good
            Governance.</p>
            <br>

            <br>
          </td>
        </tr>


        <tr>
          <td>

            <div style="text-align: center; width:100%; background-color: #008000; height: 35px; font-family: Calibri;
            color: White; padding-top:5px;">
            Designed, Developed and Hosted by NLMS Team, Hyderabad. <br>Content owned, maintained and
            updated by Department of Animal Husbandry, Telangana State
          </div>
        </td>
      </tr>
    </tbody></table>
  </div>



</body></html>
